@import "../../styles/colors";

.toast {
  background-color: #333333cd;
  bottom: 0%;
  display: flex;
  height: 100vmax;
  justify-content: center;
  left: 0%;
  padding: 5%;
  position: absolute;
  right: 0%;
  top: 0%;
}

.toast_container {
  align-items: center;
  background-color: gainsboro;
  border-radius: 5px;
  box-shadow: 0px 5px 20px black;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 5%;
  height: 80px;
  justify-content: center;
  padding: 1%;
  width: 300px;
}

.toast_title {
  *background-color: red;
  text-align: center;
}

.toast_btn {
  *background-color: yellow;
  display: flex;
  justify-content: space-evenly;
  margin: 2%;
  width: 100%;
}

.toast_btn button {
  align-items: center;
  background: lightgrey;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  height: 30px;
  justify-content: center;
  outline: none;
  width: 30px;
}

.toast_btn button img {
  width: 20px;
}

.car {
  align-items: center;
  color: $black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  justify-content: center;
  margin: 0 2%;
  width: 100%;
}

.sendOrder {
  align-items: center;
  border-radius: 50px;
  box-shadow: -5px 10px 20px #3333338e;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.sendOrder {
  background: linear-gradient($red, $tomato);
  cursor: pointer;
  width: auto;
}

.sendOrder button {
  background-color: transparent;
  color: white;
}

.toPay {
  align-items: center;
  background-color: $gray;
  border-radius: 25px;
  color: $black;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 250px;
  small {
    background-color: $red;
    border-radius: 100px;
    color: white;
    padding: 10px;
  }
}

.order {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  overflow-y: auto;
  padding: 2%;
  width: 100%;
  flex-wrap: wrap;
}

.order_container {
  align-items: center;
  background: gainsboro;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1%;
  position: relative;
  transition: all 0.5s;
  width: 100px;
}

.order_container img {
  margin: 2%;
  width: 100px;
}

.order_count,
.order_close,
.order_to_pay {
  align-items: center;
  background-color: $red;
  border: 2px solid white;
  border-radius: 100px;
  color: white;
  display: flex;
  font-weight: bold;
  justify-content: center;
  text-align: center;
}

.order_close,
.order_count {
  height: 25px;
  width: 25px;
}

.order_close {
  cursor: pointer;
  position: absolute;
  right: -5%;
  top: -5%;
}

.order_close img {
  height: 60%;
  width: 60%;
}

.order_to_pay {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: center;
  margin: 2%;
  width: 100%;
}

.order_image {
  align-items: center;
  border-radius: 100px;
  display: flex;
  height: 100px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100px;
}

.order_count {
  box-shadow: 0px 10px 30px black;
  position: absolute;
}

.order_divider {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 90%;
  left: 120px;
  padding: 1px;
  position: absolute;
}

@media (max-width: 475px) {
  .car {
    top: 21%;
  }
}
