@import "../../styles/colors";

.cart__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.order {
  align-items: center;
  color: $black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  margin: 10px 0;
}

.order__container {
  width: auto;
  max-height: 200px;
  background-color: $gray;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 2%;
  border-radius: 10px;
}

.order__button {
  width: 100%;
  text-align: right;
}

.order__close {
  width: 25px;
  height: 25px;
  overflow: hidden;
  border-radius: 100%;
  background-color: $red;
  cursor: pointer;
  img {
    width: 25px;
  }
}

.order__body {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  position: relative;
  strong {
    position: absolute;
    z-index: 2;
    color: white;
    background-color: $red;
    border: 1px solid white;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.order__image {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.order__to__pay {
  background-color: $red;
  color: white;
  padding: 10px 15px;
  border-radius: 25px;
  text-align: center;
}

.to__pay {
  align-items: center;
  background-color: $gray;
  border-radius: 25px;
  color: $black;
  display: flex;
  height: 50px;
  justify-content: center;
  width: max-content;

  h4 {
    padding: 10px 20px;
  }
  small {
    background-color: $red;
    border-radius: 100px;
    color: white;
    padding: 10px;
  }
}

@media (max-width: 600px) {
  .car__container {
    padding: 10%;
  }
}
