@import "./colors";

* {
  border: 0;
  padding: 0%;
  margin: 0%;
}

html,
body {
  background-color: $tomato;
  color: $blueviolet;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

aside {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
  width: 20%;
  height: 90%;
  z-index: 100;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $black;
  height: 100vh;
  width: 80vw;
  box-shadow: 0px 10px 20px $black;
}

section {
  margin: 10px 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h1 {
    color: $tomato;
    font-size: 2em;
  }
  p {
    font-size: 1em;
    color: $gray;
  }
}

footer {
  padding: 2%;
  text-align: center;
}
