@import "../../../styles/colors";

.container__product {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.product {
  background-color: gainsboro;
  border-radius: 10px;
  align-items: center;
  border-radius: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  height: 400px;
  margin: 5px;
  transition: all 0.5s ease;
  width: 300px;
  overflow: hidden;
}

.product__header {
  background-color: white;
  height: 160px;
  position: relative;
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .image {
    align-items: center;
    display: flex;
    height: 200px;
    justify-content: center;
    width: 200px;
    img {
      height: 50%;
      width: auto;
    }
  }

  .price {
    align-items: center;
    background-color: $red;
    border-bottom: 1px solid $black;
    border-radius: 50%;
    bottom: -20px;
    color: white;
    display: flex;
    height: 50px;
    justify-content: center;
    padding: 2px;
    padding: 2%;
    position: absolute;
    right: 15px;
    width: 50px;
    box-shadow: 0px 2px 5px $black;
  }

  .rate {
    position: absolute;
    bottom: -30px;
    left: 10px;
  }
}

.product__footer {
  width: 95%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  border-top: 1px solid gray;

  .btn {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 5px 0;
    width: 90px;
    height: 40px;
    border-radius: 25px;
    color: white;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.5s ease;
    background-color: $tomato;
    text-decoration: none;
    &:hover {
      box-shadow: 0px 2px 5px $black;
    }
  }
}

.product__body {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  width: 95%;
  height: 100%;

  .title {
    text-align: center;
    width: 100%;
    color: $black;
  }
}
