@import "../../../styles/colors";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.count {
  margin: 2% 0;
  span {
    padding: 10px 20px;
    background-color: gray;
    color: whitesmoke;
    border-radius: 20px;
  }
}

.btn__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  button {
    background-color: tomato;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    width: 60px;
    height: 60px;
  }
}

.btn {
  transition: all 0.3s ease-in;
  &:hover {
    background-color: $red;
  }
}
